Package: hithere-dbgsym
Source: hithere
Version: 1.0-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Joy Lee <cielyui3221@gmail.com>
Installed-Size: 15
Depends: hithere (= 1.0-2)
Section: debug
Priority: optional
Description: debug symbols for hithere
Build-Ids: 286d51e37e97fca70d45301af968901f1ccfcbda
